* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.container {
    background-image: url(/netflix-clone/assets/image/background.jpg);
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 1.5rem;
    z-index: 10;
    gap: 200px;
}

.container nav ul button {
    height: 35.2px;
    width: 76.2px;
    background-color: red;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    border: red;
    cursor: pointer;
}

.container nav ul button:hover {
    background: rgb(193, 17, 25);
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 0.9s;
}

.container .logo img {
    width: 9.25rem;
    height: 2.5rem;
}

.container .box {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    opacity: 0.44;
    position: absolute;
    top: 0;
}

.main {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    color: white;
}

.main .text {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.main .text h1 {
    font-size: 3rem;
    font-weight: 900;
}

.main .text h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.main .text p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

.main .text .text-input {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.main .text .text-input .input {
    width: 21.5rem;
    border-radius: 3px;
}

.main .text .text-input .input label {
    position: absolute;
    padding: 15px;
    color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}

.main .text .text-input .input input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #535353;
    color: white;
    padding: 15px;
}


.main .text .text-input button {
    background: rgb(193, 17, 25);
    color: white;
    border: 0px solid white;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3.5rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

.main .text .text-input button:hover {
    background: rgb(157, 10, 17);
    border-color: black;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 0.9s;
}

.container-1 {
    border-top: 8px solid #232323;
    border-bottom: 8px solid #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 145px;
    padding-right: 145px;
    background-color: black;
}

.container-1 .part-img {
    position: relative;
    z-index: 10;
}

.container-1 .part h2 {
    font-size: 3rem;
    color: white;
    font-weight: 900;
}

.container-1 .part p {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

.container-1 .part-img .video {
    position: absolute;
    top: 19%;
    left: 12%;
    width: 480px;
    height: 270px;
    z-index: -1;
}

.container-2 {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid #232323;
    padding-left: 145px;
    padding-right: 145px;
}

.container-2 .part1-img {
    position: relative;
}

.container-2 .part1-img .img-card {
    width: 360px;
    border: 2px solid #5a5a5a;
    height: 100px;
    position: absolute;
    top: 68%;
    left: 22%;
    display: flex;
    gap: 26px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}

.container-2 .part1-img .img-card .img-card-img img {
    height: 80px;
    width: 57.15px;
}

.container-2 .part1-img .img-card .img-card-text {
    text-align: justify;
    font-weight: 500;
    font-size: 1rem;
}

.container-2 .part1-img .img-card .img-card-text .down {
    color: blue;
}

.container-2 .part1-img .img-card .img-card-icon img {
    height: 60px;
    width: 48px;
}

.container-2 .part-1 h2 {
    font-size: 3rem;
    font-weight: 900;
}

.container-2 .part-1 p {
    font-size: 1.5rem;
    font-weight: 400;
}

.container-3 {
    background-color: black;
    border-bottom: 8px solid #232323;
    padding-left: 145px;
    padding-right: 145px;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-3 .part-2 {
    padding-right: 54%;
    padding-left: 13%;
}

.container-3 .part-2 h2 {
    font-size: 3rem;
    font-weight: 900;
}

.container-3 .part-2 p {
    font-size: 1.5rem;
    font-weight: 400;
}

.container-4 {
    background-color: black;
    display: flex;
    color: white;
    padding-left: 145px;
    justify-content: center;
    align-items: center;
    padding-right: 145px;
    border-bottom: 8px solid #232323;
}

.container-4 .part-2 h2 {
    font-size: 3rem;
    font-weight: 900;
}

.container-4 .part-2 p {
    font-size: 1.5rem;
    font-weight: 400;
}

.container-5 {
    background-color: black;
    color: white;
    padding-left: 145px;
    padding-right: 145px;
    border-bottom: 8px solid #232323;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-bottom: 50px;
}

.container-5 .part-header h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.container-5 .questions ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-5 .questions ul li {
    list-style: none;
    background-color: #2d2d2d;
    padding: 1.2rem;
    font-size: 1.5rem;
    font-weight: 550;
    display: flex;
    justify-content: space-between;
}

.container-5 .questions ul li:hover {
    background-color: #4c4c4c;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 0.9s;
}

.downbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.downbar p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

.downbar .text-input {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.downbar .text-input .input {
    width: 21.5rem;
    border-radius: 3px;
}

.downbar .text-input .input label {
    position: absolute;
    padding: 15px;
    color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}

.downbar .text-input .input input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #535353;
    color: white;
    padding: 15px;
}


.downbar .text-input button {
    background-color: #db0b0b;
    color: white;
    border: 0px solid white;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3.5rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    width: 50%;
}

.downbar .text-input button:hover {
    background: rgb(157, 10, 17);
    border-color: black;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 0.9s;
}

footer {
    background-color: black;
    position: relative;
    z-index: 100;
    color: #8f8f8f;
    padding-left: 145px;
    padding-right: 350px;
    border-bottom: 8px solid #232323;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

footer li {
    list-style: none;
}

footer .container-6 {
    display: grid;
    text-align: justify;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

footer .container-6 .first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .last {
    border: 2px solid #484848;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .last #select {
    background-color: #0f0f0f;
    color: white;
    border: 2px solid black;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
    position: relative;
}

@media only screen and (max-width: 1155px) {
    .container {
        height: 70vh;
        padding-bottom: 84px;

    }

    .container nav {
        gap: 0%;
        padding-bottom: 85px;
    }

    .container-1 {
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .container-1 .part {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .container-1 .part h2 {
        font-size: 2rem;
        font-weight: 700;
    }



    .container-1 .part p {
        font-size: 1.125rem;
        font-weight: 400;
    }


    .container-2 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 23px;
        padding-bottom: 23px;
        padding-left: 10%;
        padding-right: 10%;

    }

    .container-2 .part-1 {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .container-2 .part-1 h2 {
        font-size: 2rem;
        font-weight: 700;
    }


    .container-2 .part-1 p {
        font-size: 1.125rem;
        font-weight: 400;
    }

    .container-4 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 23px;
        padding-bottom: 23px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .container-4 .part-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .container-4 .part-2 h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .container-4 .part-2 p {
        font-size: 1.125rem;
        font-weight: 400;
    }

    footer .last {
        width: 20%;
    }
}

@media only screen and (max-width: 930px) {

    .main .text h1 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .main .text h3 {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
    }

    .main .text p {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
    }

    footer {
        padding-left: 10%;
        padding-right: 10%;
    }

    .container-3 {
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        align-items: center;
    }

    .container-3 .part-2 h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
    }

    .container-3 .part-2 p {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
    }

    .container-3 .part-2 {
        padding: 0;
    }

    .container-5 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .container-5 .part-header h2 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .container-5 .questions ul li {
        font-size: 1.2rem;
        text-align: center;
        align-items: center;
        padding: 0.8rem;
    }
}

@media only screen and (max-width:600px) {
    .downbar .text-input {

        flex-wrap: wrap;

    }

    footer .container-6 {
        display: grid;
        text-align: justify;
        grid-template-columns: auto auto;
        gap: 23px;
    }

    .downbar .text-input button {

        width: 70%;
    }

    .container-1 .part-img img {
        width: 100%;

    }

    .container-1 .part-img .video {
        width: auto;
        height: auto;

    }

    .container-1 .part-img .video video {
        width: 100%;

    }

    .container-2 .part1-img img {
        width: 100%;
    }

    .container-2 .part1-img .img-card {
        width: auto;
    }

    .container-4 .part-2-img img {
        width: 100%;
    }

    footer .last {
        width: 30%;
    }

    .container-2 {
        gap: 50px;
    }

    .container-5 .questions ul li {
        font-size: 1rem;
        text-align: center;
        align-items: center;
        padding: 0.8rem;
    }

}

@media only screen and (max-width: 450px) {
    .container-2 .part1-img .img-card {
        width: auto;
        left: 10%;
    }
}