.main .main-info {
    width: 35% !important;
}

.location-details {
    display: flex;
    gap: 16px;
}

.main .second-part .cards {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.main .second-part {
    width: 60% !important;
}

.main .second-part .cards .card {
    width: 47% !important;
    padding: 10px;
    border-radius: 16px;
}

.form-control {
    width: 100% !important;
    border-radius: 10px !important;
    height: 47px !important;
    background-color: transparent !important;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    width: 80% !important;
    border-radius: 12px !important;
    color: #fff;
    margin: 20px;
    background-color: #f86515 !important;
    border: 1px solid #f86515 !important;
    border-radius: 16px;
    padding: 15px;
    transition: ease-out 2s;
}

.button:hover {
    background-color: #e0621e !important;
    border: 1px solid #e0621e;
    transition: ease-out 1s;
}



@media screen and (max-width: 600px) {
    .main .main-info {
        width: 100% !important;
    }
    .main .second-part .cards {
        flex-wrap: wrap;
        }
   
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
    .main .main-info {
        width: 70% !important;
    } 
}

@media screen  and (max-width: 1100px) {
.main .second-part {
    width: 100% !important;
}

    .main .second-part .cards .card {
      width: 100% !important;
      padding: 10px;
      border-radius: 16px;
    }
}
